/mvnw text eol=lf
*.cmd text eol=crlf

# ќтключаем конвертацию окончаний строк
* -text

# ”казываем UTF-8 дл€ всех текстовых файлов
*.* working-tree-encoding=UTF-8

# явно дл€ исходного кода
*.kt working-tree-encoding=UTF-8 eol=lf
*.java working-tree-encoding=UTF-8 eol=lf
*.xml working-tree-encoding=UTF-8 eol=lf
*.gradle working-tree-encoding=UTF-8 eol=lf
*.properties working-tree-encoding=UTF-8

# ‘айлы с русскими именами
*.[–-€]* working-tree-encoding=UTF-8

